@using Luckyfive.DTO
@model AdvertismentViewDTO
<div class="col-md-4">
    <div class="thumbnail">
        <img alt="Bootstrap Thumbnail First" src="http://images.apple.com/ru/iphone-se/overview/images/og.jpg?201702150658" class="thumbnailPicture" />
        <div class="caption">
            <h3>
                @Model.Name
            </h3>
            <p>
                @Model.Description
            </p>
            <p>
                <a class="btn" href="#">View</a>
            </p>
        </div>
    </div>
</div>