
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/dropzone/css")
@Scripts.Render("~/bundles/dropzone")
<script type="text/javascript" src="~/App/Services/LuckyService.js"></script>
<script type="text/javascript" src="~/App/Validation/LuckyValidation.js"></script>
<script type="text/javascript" src="~/App/LuckyModule.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		Window.App.LuckyModule.init();
	});
</script>

<div class="loading" data-bind="visible: loading"></div>
@Html.Partial("Partials/_Advertisment")

