@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <span>Name of adevrtisment</span>
    <div class="col-md-4"><img src="http://www.motosale.com.ua/img.php?f=user_images/bd97edrcbmhn3stehprv&type=2"/></div>
    <div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet </div>
    <div><span>End date: 12.12.1912</span></div>
    <div><span>Days left: 5</span></div>
    <div>Photo slider... to be emplemented</div>
</div>

