
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Нова Lucky акція</h2>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Назва</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Назва" />
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Назва</label>
            <div class="col-lg-10">
                <textarea rows="5" class="form-control" id="description" placeholder="Назва" />
            </div>
        </div>
    </fieldset>
</form>

