@{
    ViewBag.Title = "Luckyfive";
}

@section scripts{
    <script src="~/App/Home/App.js"></script>
    <script src="~/App/Home/HomeViewmodel.js"></script>
}

<div ng-non-bindable>
    <div id="home" ng-controller="homeViewmodel">
        Тут будут лаки акции..
    </div>
</div>