@using Luckyfive.DTO
@model List<AdvertismentViewDTO>
@{
    ViewBag.Title = "Luckyfive";
}

<div data-ng-controller="homeController">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Пошук">
                            </div>
                            <div class="col-sm-1">
                                <a class="btn btn-primary">Пошук</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                @for (int i = 0; i < 3; i++)
                {
                    @Html.Partial("Partials/_AdvertismentLink", @Model[i])
                }
            </div>
            <div class="row">
                @for (int i = 0; i < 3; i++)
                {
                    @Html.Partial("Partials/_AdvertismentLink", @Model[i])
                }
            </div>
        </div>
    </div>
</div>
