@using Luckyfive.DTO
@model List<AdvertismentViewDTO>
@{
    ViewBag.Title = "Luckyfive";
}

<script type="text/javascript" src="~/Scripts/jquery.ui.totop.js"></script>
<div class="thumb-box1" data-ng-controller="homeController">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>The best place<strong>to test your lick!</strong></p>
                <a href="#" class="btn-default btn2">Register</a>
            </div>
        </div>
    </div>
</div>
@*<div class="thumb-box2">
    <div class="container">
        <h2><strong>Finished</strong> Auctions</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                <div class="thumb-pad1">
                    <div class="badge">Final price<strong>876</strong></div>
                    <div class="thumbnail">
                        <figure><img src="../../img/page1_pic1.jpg" alt=""></figure>
                        <div class="caption">
                            <p>Excepteur sint occaecat cupidatat non</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                <div class="thumb-pad1">
                    <div class="badge">Final price<strong>176</strong></div>
                    <div class="thumbnail">
                        <figure><img src="../../img/page1_pic2.jpg" alt=""></figure>
                        <div class="caption">
                            <p>Excepteur sint occaecat cupidatat non</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                <div class="thumb-pad1">
                    <div class="badge">Final price<strong>16</strong></div>
                    <div class="thumbnail">
                        <figure><img src="../../img/page1_pic3.jpg" alt=""></figure>
                        <div class="caption">
                            <p>Excepteur sint occaecat cupidatat non</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                <div class="thumb-pad1">
                    <div class="badge">Final price<strong>86</strong></div>
                    <div class="thumbnail">
                        <figure><img src="../../img/page1_pic4.jpg" alt=""></figure>
                        <div class="caption">
                            <p>Excepteur sint occaecat cupidatat non</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="thumb-box3">
    <div class="container">
        <h2><strong>Current</strong> Auctions</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <span>23 : 15 : 25</span>
                        <figure><img src="../../img/page1_pic5.jpg" alt=""></figure>
                        <div class="caption">
                            <p class="price">Price: $258</p>
                            <strong>386</strong>
                            <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                            <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <span>23 : 15 : 25</span>
                        <figure><img src="../../img/page1_pic6.jpg" alt=""></figure>
                        <div class="caption">
                            <p class="price">Price: $258</p>
                            <strong>11</strong>
                            <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                            <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <span>23 : 15 : 25</span>
                        <figure><img src="../../img/page1_pic7.jpg" alt=""></figure>
                        <div class="caption">
                            <p class="price">Price: $258</p>
                            <strong>86</strong>
                            <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                            <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <span>23 : 15 : 25</span>
                        <figure><img src="../../img/page1_pic8.jpg" alt=""></figure>
                        <div class="caption">
                            <p class="price">Price: $258</p>
                            <strong>27</strong>
                            <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                            <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-default btn4">See all auctions</a>
    </div>
</div>
<div class="thumb-box4">
    <div class="container">
        <h2><strong>How it works</strong></h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                <div class="box">
                    <div class="badge fa fa-user"></div>
                    <strong>Register</strong>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                <div class="box">
                    <div class="badge fa fa-money"></div>
                    <strong>Buy or Bid</strong>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                <div class="box">
                    <div class="badge fa fa-gavel"></div>
                    <strong>Submit a Bid</strong>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                <div class="box">
                    <div class="badge fa fa-trophy"></div>
                    <strong>Win</strong>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stellar-section">
    <div class="thumb-box5" data-stellar-background-ratio="0.1">
        <div class="container">
            <h2><strong>Join</strong> the Winners</h2>
            <div class="box1">
                <figure><img src="../../img/page1_pic9.png" alt=""></figure>
                <div class="caption">
                    <figure><img src="../../img/page1_pic10.png" alt=""></figure>
                    <figure><img src="../../img/page1_pic11.png" alt=""></figure>
                </div>
            </div>
            <div class="box2">
                <div class="caption">
                    <figure><img src="../../img/page1_pic12.png" alt=""></figure>
                    <figure><img src="../../img/page1_pic13.png" alt=""></figure>
                </div>
                <figure><img src="../../img/page1_pic22.png" alt=""></figure>
            </div>
            <div class="box3">
                <figure><img src="../../img/page1_pic14.png" alt=""></figure>
            </div>
            <div class="box4">
                <div class="caption">
                    <figure><img src="../../img/page1_pic15.png" alt=""></figure>
                    <figure><img src="../../img/page1_pic16.png" alt=""></figure>
                </div>
                <figure><img src="../../img/page1_pic17.png" alt=""></figure>
            </div>
            <div class="box5">
                <figure><img src="../../img/page1_pic18.png" alt=""></figure>
                <div class="caption">
                    <figure><img src="../../img/page1_pic19.png" alt=""></figure>
                    <figure><img src="../../img/page1_pic20.png" alt=""></figure>
                </div>
            </div>
            <div class="box3">
                <figure><img src="../../img/page1_pic21.png" alt=""></figure>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2><strong>About</strong> Us</h2>
                <ul class="list1">
                    <li>
                        <div class="badge fa fa-laptop"></div>
                        <div class="extra-wrap">
                            <strong>Excepteur sint occaecat <br>cupidatat non</strong>
                        </div>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                    </li>
                    <li>
                        <div class="badge fa fa-thumbs-o-up"></div>
                        <div class="extra-wrap">
                            <strong>Excepteur sint occaecat <br>cupidatat non</strong>
                        </div>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2><strong>Events</strong></h2>
                <ul class="list2">
                    <li>
                        <span>01/</span>
                        <div class="extra-wrap">
                            <strong>Excepteur sint occaecat <br>cupidatat non</strong>
                        </div>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                    </li>
                    <li>
                        <span>02/</span>
                        <div class="extra-wrap">
                            <strong>Excepteur sint occaecat <br>cupidatat non</strong>
                        </div>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*@if (@Model.Any())
    {
        <div class="row">
            @for (int i = 0; i < @Model.Count; i++)
            {
                @Html.Partial("Partials/_AdvertismentLink", @Model[i])
            }
        </div>
    }*@

