@{
    ViewBag.Title = "Luckyfive";
}

@section scripts{
    <script src="~/App/lucky/App.js"></script>
    <script src="~/App/lucky/Controllers/luckyCreateController.js"></script>
    <script src="~/App/lucky/Controllers/luckyHomeController.js"></script>
    }
<div ng-non-bindable>
    <div ng-view></div>
</div>