<form class="form-horizontal">
    <fieldset>
        <legend>Створити нову lucky акцію</legend>
        <div class="form-group">
            <label for="luckyName" class="col-lg-2 control-label">Ім'я</label>
            <input type="text" class="form-control" id="luckyName" placeholder="Ім'я" ng-model="luckyAdv.Name" required/>
        </div>
        <div class="form-group">
            <label for="luckyDesc" class="col-lg-2 control-label">Опис</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="luckyDesc" ng-model="luckyAdv.Name" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" ng-click="createLuckyAdv(luckyAdv)" value="Створити" />
            </div>
        </div>
    </fieldset>
</form>