<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'Luckyfive' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>db5dc557-749a-4015-af77-f8ca8c95cc2c</InstrumentationKey>
</ApplicationInsights>